@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &__slider
            min-width: 590px
    .hotel
        &-slider
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 220px
        height: 220px
@media (max-width: 992px)
    .container,
    .newsletter-wrapper
        max-width: 780px
    .logo
        width: 132px
        .navbar
            &-top
                padding: 30px 0
            &__search
                margin-left: 47px
            &-menu
                padding: 21px 0
                &__link
                    font-size: 12px
                    line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 375px
        margin-left: 0
    .map
        width: 375px
        margin-left: 0
    .reviews
        &-slider
            &__item
                max-width: 580px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 380px
        height: 250px
@media (max-width: 820px)
    .container, .newsletter-wrapper
        max-width: 700px
        .logo
            width: 132px
    .navbar
        &-top
            padding: 30px 0
        &__search
            margin-left: 27px
        &-menu
            width: 673px
            padding: 21px 0
            margin: auto
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            max-width: 340px
    .booking
        width: 340px
    .map
        width: 340px
    .newsletter
        padding: 72px 0 72px
        margin-top: -9px
    .reviews
        &__title
            font-weight: bold
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &-slider
            height: 344px
            &__button
                position: absolute
                top: 50%
                transform: translateY(-50%)
                &--prev
                    left: 2px
                &--next
                    right: 2px
            &__text
                height: 133px
    .card
        width: 340px
        height: 250px
@media (max-width: 725px)
    .container, .newsletter-wrapper
        max-width: 550px
        width: 92%
    .navbar
        &__search, &-menu, &__user
            display: none
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .hotel
        &-right
            flex-direction: column
            height: 450px
        &-slider
            min-width: 100%

            height: 350px

    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            max-width: 550px
            width: 92%
            flex-direction: column
            align-items: flex-start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__button
                top: 30px
                left: 50%
                transform: translate(-50%, 0)
                &--prev
                    margin-left: -85px
                &--next
                    margin-left: 85px
    .card
        width: 49%
        height: 250px
@media (max-width: 576px)
    .hotel
        &__slider
            margin-bottom: 20px
            &-slider
                height: 250px
    .reviews
        &__title
            width: 245px
            text-align: center
            font-weight: bold
            font-size: 22px
            line-height: 23px
            margin: auto
            margin-bottom: 42px

@media ( max-width: 480px    )
    .subscribe
        width: 100%

@media (max-width: 320px)
    .container
        max-width: 280px
        .navbar
            &-top
                padding: 26px 0

    .logo
        &__image
            width: 99px
    .breadcrumb
        &-list
            padding-top: 23px
            padding-bottom: 18px

    .hotel
        padding-top: 0px
        &__offer
            margin: 0
    .stars
        margin-right: 18px
    .hotel
        &-slider
            height: 179px
            margin-top: 16px
            &__button
                background-size: 4px 8px
                &_prev
                    left: 0px
                &_next
                    right: 0px
    .hotel
        &-info
            padding-bottom: 21px
        &-right
            height: 400px
    .booking
        height: 207px
    .map
        height: 173px
    .slider
        &__button
            &_prev
                left: 0px
            &_next
                right: 0px
    .newsletter
        padding: 75px 0 83px
        margin-top: -28px

        &-title
            margin: 0
            margin-bottom: 33px

            font-weight: 300
            font-size: 20px
            &__strong
                font-weight: normal
                font-size: 30px
    .subscribe
        &__input
            padding-left: 20px
            padding-right: 74px
    .reviews
        &__title
            width: 245px
            text-align: center
            font-weight: bold
            font-size: 18px
            line-height: 23px
            margin: auto
            margin-bottom: 42px
        &-slider
            height: 490px
            &__text
                overflow-y: auto
                height: 266px
            &__button
                &--prev
                    margin-left: -90px
                &--next
                    margin-left: 89px
    .card
        width: 100%
