@media screen and ( max-width: 1200px )
    .container
        max-width: 960px
    .hotel
        &-slider
            max-width: 590px
    .hotel
        &-slider
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 220px
        height: 220px
    .footer
        &-wrapper
            grid-template-columns: minmax(205px, 247px) 247px 247px 247px
            grid-column-gap: 0
        &__information
            margin-left: 57px
@media screen and ( max-width: 992px )
    .container,
    .newsletter-wrapper
        max-width: 780px
    .logo
        width: 132px
        .navbar
            &-top
                padding: 30px 0
            &__search
                margin-left: 47px
            &-menu
                padding: 21px 0
                &__link
                    font-size: 12px
                    line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            width: 780px
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            max-width: 100%
    .booking
        width: 375px
        margin-left: 0
    .map
        width: 375px
        margin-left: 0
    .reviews
        &-slider
            &__item
                max-width: 580px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 380px
        height: 250px
    .hotels
        grid-gap: 20px
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr))
        grid-template-rows: repeat(2, 430px)
    .hotels
        &-info
            padding: 18px 21px 20px 32px
        &-small
            grid-template-rows: 200px 1fr
            &__image
                height: 200px
        &__image
            &_big
                max-height: 430px
        &__text
            margin-bottom: 25px
        &__desciption
            &_big
                margin-bottom: 23px
    .footer
        padding-top: 67px
        &-wrapper
            grid-template-columns: 200px 1fr 202px
            grid-column-gap: 0
            grid-row-gap: 44px
        &__logo
            margin-top: 0
            height: 120px
            width: 95px
            grid-row: 1 / 2
        &__social
            &-network
                margin-left: -15px
                margin-top: 13px
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: 1 / 2
        &__contact
            &-details
                margin-top: 18px
                grid-row: 3
                grid-column: span 4
            &-form
                margin-top: -5px
                grid-column: span 3
                grid-row: 4
        &__form
            width: 539px
        &__information
            margin: 0
        &__icon
            &-wrapper
                min-width: 45px
    .disclaimer
        padding-top: 56px
        justify-content: space-between
    .modal
        &__dialog
            padding: 33px 50px 33px 50px
    .navbar
        &-bottom
            height: 60px
        &-menu
            padding-top: 20px
            display: flex
            justify-content: space-around
    .activities
        padding-bottom: 50px
    a:hover
        text-decoration: none
@media screen and ( max-width: 820px )
    .container, .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding: 30px 0
        &-bottom
            height: 60px
            &--visible
                // height: 498px
        &__search
            margin-left: 27px
        &-menu
            padding-top: 20px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            max-width: 340px
    .booking
        width: 340px
    .map
        width: 340px
    .newsletter
        padding: 72px 0 72px
        margin-top: -9px
    .reviews
        &__title
            font-weight: bold
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &-slider
            height: 344px
            &__button
                position: absolute
                top: 50%
                transform: translateY(-50%)
                &--prev
                    left: 2px
                &--next
                    right: 2px
            &__text
                height: 133px
    .card
        width: 340px
        height: 250px
@media screen and ( max-width: 768px )
    body
        padding-top: 78px
    .navbar
        &__user, &__search
            &--mobile
                &_hidden
                    display: none
                &-visible
                    display: flex
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            position: fixed
            display: none
            left: 0
            right: 0
            bottom: 0
            top: 78px
            &--visible
                height: 100%
                display: block
                overflow-y: auto
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 17px
                &:nth-child(2)
                    margin-bottom: 38px
                &--mobile
                    &_visible
                        display: block
                        margin-bottom: 25px
            &__user
                flex-direction: column
                justify-content: center
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                font-style: normal
                font-weight: normal
                color: $light
                margin-left: 0
                margin-top: 10px
    .hotel
        padding-top: 0
@media screen and ( max-width: 767px )
    .hotels
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
        grid-gap: 15px
        &__text
            overflow-y: auto
            max-height: 150px
    .packages
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
    .footer
        &__additional
            grid-column: 2 / 4
        &__information
            grid-row: 3
        &__contact
            &-details
                grid-row: 4
            &-form
                grid-row: 5
        &__disclaimer
            display: flex
            justify-content: space-between
    .disclaimer
        &__icons
            margin-left: 0
    .modal
        &__dialog
            width: 80%
            padding: 33px 30px 33px 30px
        &__button
            order: 1
        &__info
            margin-bottom: 10px
        &__message
            min-height: 100px

@media screen and ( max-width: 725px )
    .container, .newsletter-wrapper
        max-width: 600px
        width: 92%
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .hotel
        &-right
            flex-direction: column
            height: 450px
        &-slider
            min-width: 100%

            height: 350px

    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            max-width: 550px
            width: 92%
            flex-direction: column
            align-items: flex-start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__button
                top: 30px
                left: 50%
                transform: translate(-50%, 0)
                &--prev
                    margin-left: -85px
                &--next
                    margin-left: 85px
    .card
        width: 49%
        height: 250px
@media screen and ( max-width: 660px)
    .container, .newsletter-wrapper
        max-width: 600px
        width: 97%
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 30px
        &__title
            &_contacts
                margin-top: 16px
                margin-bottom: 15px
            &_inline
                margin-bottom: 20px
                margin-right: 0
            &_bt
                margin-top: 12px
        &__form
            width: 100%
        &__input
            &-group
                flex-basis: 100%
        &__button
            order: 1
        &__info
            flex-basis: 100%
            margin-bottom: 15px
        &__logo
            grid-column: 1
            grid-row: 1
        &__social
            &-network
                margin-top: 0
                margin-left: 0
                grid-column: 1
                grid-row: 2
                display: block
            &-links
                max-width: 83px
        &__additional
            grid-column: 1
            grid-row: 4
        &__categories
            grid-row: 5
            grid-column: 1
        &__legal
            grid-column: 1
            grid-row: 3
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
                margin-top: 0
            &-form
                grid-row: 7
                grid-column: 1
        &__icon
            &-wrapper
                min-width: 29px
        &__message
            margin-bottom: 15px
        &__disclaimer
            justify-content: space-between
    .disclaimer
        padding-top: 27px
        &__wrapper
            margin-bottom: 9px
        &__icons
            margin-left: 0
        &__link
            margin-right: 9px
            &:last-child
                margin-right: 0
    .modal
    &__dialog
        margin: auto
        width: 70%
@media screen and ( max-width: 576px )
    .container, .newsletter-wrapper
        max-width: 600px
        width: 95%
    .hotel
        &__slider
            margin-bottom: 20px
            &-slider
                height: 250px
    .reviews
        &__title
            width: 245px
            text-align: center
            font-weight: bold
            font-size: 22px
            line-height: 23px
            margin: auto
            margin-bottom: 42px
    .card
        width: 100%
    .search
        width: 260px
    .hotels
        grid-template-columns: repeat( 1, 1fr)
        grid-template-rows: 515px
        grid-row-gap: 20px
        grid-column-gap: 0
        &-big
            grid-column-start: 1
            grid-template-columns: 1fr
            grid-template-rows: 200px 1fr
        &-small
            grid-template-rows: 270px 1fr
            &__image
                height: 270px
        &__image
            &_big
                max-height: inherit
            &-big
                background-position: center
                height: 200px
        &-info
            padding: 30px 21px 25px 28px
        &__title
            &_big
                margin-bottom: 10px
        &__text
            overflow-y: auto
            max-height: 70px
            margin-bottom: 12px
        &__desciption
            &_big
                margin-bottom: 8px
    .packages
        &__title
            font-size: 20px
            line-height: 23px
    .footer
        &__disclaimer
            display: block
@media screen and (max-height: 500px)
    .modal
        &__dialog
            overflow-y: auto
            max-height: 90%
            width: 80%
        &__input
            margin-bottom: 10px

@media screen and ( max-width: 480px )
    .subscribe
        width: 100%
@media screen and ( max-width: 400px)
    .footer
        &__form
            width: 280px
        &__logo
            width: 96px
            margin-top: -2px
        &__social
            &-network
                margin-top: 2px
    .disclaimer
        &__link
            margin-right: 9px
            &:last-child
                margin-right: 0
    .modal
        &__dialog
            width: 85%
        &__title
            font-size: 16px
        &__input
            padding: 12px 0 12px 15px
        &__message
            padding: 12px 0 12px 15px
            margin-bottom: 15px
        label.invalid
            left: 0px
@media screen and ( max-width: 320px )
    body
        padding-top: 68px
    .search
        width: 245px
    .container
        max-width: 280px
    .logo
        &__image
            width: 99px
    .breadcrumb
        &-list
            padding-top: 23px
            padding-bottom: 18px

    .hotel
        padding-top: 0px
        &__offer
            margin: 0
    .stars
        margin-right: 18px
    .hotel
        &-slider
            height: 179px
            margin-top: 16px
            &__button
                background-size: 4px 8px
                &--prev
                    margin-left: -20px
                &--next
                    margin-left: -20px
    .hotel
        &-info
            padding-bottom: 21px
        &-right
            height: 400px
    .booking
        height: 207px
    .map
        height: 173px
    // .slider
    //     &__button
    //         &_prev
    //             margin-left: 9px
    //         &_next
    //             right: 0px
    .newsletter
        padding: 75px 0 83px
        margin-top: -28px

        &-title
            margin: 0
            margin-bottom: 33px

            font-weight: 300
            font-size: 20px
            &__strong
                font-weight: normal
                font-size: 30px
        label.invalid
            left: 1px
    .subscribe
        &__input
            padding-left: 20px
            padding-right: 74px
    .reviews
        padding-bottom: 50px
        &__title
            width: 245px
            text-align: center
            font-weight: bold
            font-size: 18px
            line-height: 23px
            margin: auto
            margin-bottom: 42px
        &-slider
            height: 490px
            &__text
                overflow-y: auto
                height: 266px
                text-align: left
            &__button
                &--prev
                    margin-left: -90px
                &--next
                    margin-left: 89px
    .card
        width: 100%
    .hotels
        grid-template-rows: 620px
        &__text
            max-height: 170px
    .footer
        label.invalid
            left: 5px
    .navbar
        &-top
            padding-top: 25px
        &--mobile
            &_fixed
                height: 70px
    .activities
        padding-top: 40px
        &-wrapper
            margin-bottom: -20px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
