*
    box-sizing: border-box
    button
        cursor: pointer
body
    font-family: 'Mulish', serif
    background-color: $secondary
    color: $text-color
.container
    max-width: 1110px
    margin: auto
img
    max-width: 100%
iframe
    width: 100%
    height: 100%
    border: 0
button
    cursor: pointer
    border: none

.input
    padding: 18px 0 17px 23px
    background-color: #fff
    border-radius: 4px
    border: none
    &::placeholder
        font-weight: normal
        font-size: 12px
        line-height: 15px
        color: #BDBDBD
.message
    background-color: #fff
    border-radius: 4px
    border: none
    min-height: 123px
    resize: none
    padding: 18px 0 10px 23px
    &::placeholder
        font-weight: normal
        font-size: 12px
        line-height: 15px
        color: #BDBDBD
.button
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $light
    background-color: $primary
    padding: 17px 20px 18px 20px
    min-width: 160px
    border-radius: 4px
    border: none
.info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
.form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
.invalid
    color: $primary
label.invalid
    position: absolute
    top: -20px
    left: 10px
    font-size: 14px
    background-color: $primary
    color: #fff
    padding: 5px 10px
    border-radius: 5px
    &::after
        content: ''
        position: absolute
        left: 15px
        bottom: -5px
        background-color: $primary
        width: 10px
        height: 10px
        transform: rotate(45deg)
